%h1 Downloads

%p
  = @downloads.length
  Total Downloads

%table
  %tr
    %th Email
    %th Date
    %th Song title
    
  - for download in @downloads do
    %tr
      %td= download.email
      %td= download.created_at
      %td= download.name
      