body,
html {

}

h3 {
  font-size: 2em;
}

#main {
  width: 792px;
}

#sidebar {
  display: none;
}

#mailing_list {
	display: none;
}
#mailing_list_iphone {
	display: block;
}

#fans {
	font-size: 2em;
}
#fans input {
	font-size: 1em;
	width: 500px;
}