body,
html {

}

h3 {
  font-size: 2em;
}

#main {
  width: 792px;
}

#sidebar {
  display: none;
}

#mailing_list {
	display: none;
}
#mailing_list_iphone {
	display: block;
}

#mailing_list_iphone input {
	background-color: white;
	font-size: 20px;
	height: 50px;
	line-height: 40px;
	width: 220px;
}

#fans {
	font-size: 2em;
}
#fans input {
	font-size: 1em;
	width: 500px;
}

#admin {
	font-size: 1.2em;
	line-height: 1.5em;
}

#admin .admin_new,
#admin .admin_manage {
	display: block;
}

#nav ul {
	font-size: 1.7em;
	height: 60px;
}