<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>World Racketeering Squad</title>
  <!-- stylesheet_link_tag 'scaffold' -->
  
<style type="text/css">
	body,
	html {
		margin:0;
		padding:0;
		background: black url(images/bg.png) no-repeat scroll 50% 0pt;
		color:#000;
		font-family:"Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
	}
	body {
		min-width:850px;
	}
	#wrap {
		background:#99c;
		margin:0 auto;
		width:850px;
	}
	#header {
		background:#ddd;
		height: 150px;
	}
	#header h1 {
    	padding:5px;
	    margin:0;
    }
	#nav {
		background:#c99;
		padding:5px;
	}
	#nav ul{
		margin:0;
		padding:0;
		list-style:none;
	}
	#nav li{
		display:inline;
		margin:0;
		padding:0;
	}
	#video {
	  background: #ba9;
	  padding: 5px;
	  text-align: center;
	}
	#blog {
	  padding: 20px;
	}
	#main {
		background:#9c9;
		float:left;
		width: 560px;
	}
	#sidebar {
	  border: 3px solid red;
		background:#99c;
		float:right;
		width:250px;
	}
	#sidebar div.module {
	  background: blue;
	  margin: 10px 10px 0 10px;
	}
	#footer {
		background:#cc9;
		clear:both;
	}
	#footer p {
		padding:5px;
		margin:0;
    }
  input#email {
    width: 150px;
  }
  input#zip_code {
    width: 100px;
  }
  #mailing_list {
    float :right;
    width: 170px;
  }
  #logo {
    float: left;
  }
-->
</style>

</head>
<body>

<div id="wrap">
	<div id="header">
    <div id="logo">  
	    <h1>World Racketeering Squad</h1>
    </div>
	  <div id="mailing_list">
	    <h4 id="join_the_mailing_list.">Join the mailing list.</h4>
	    <form action="mailing_list" method="get" accept-charset="utf-8">
	    <input type="text" name="some_name" value="Email address" id="email">
	    <input type="text" name="some_name" value="Zip Code" id="zip_code">
  <p><input type="submit" value="SIGN UP"></p>
	    </form>
	  </div>
	</div>
	<div id="nav">
		<ul>
			<li><a href="#">BLOG</a></li>
			<li><a href="#">VIDEOS</a></li>
			<li><a href="#">MUSIC</a></li>
			<li><a href="#">SHOWS</a></li>
			<li><a href="#">ABOUT</a></li>
		</ul>
	</div>
	<div id="main">
  	<div id="video">
  	  
  		
  		<object width="425" height="355"><param name="movie" value="http://www.youtube.com/v/jITjBlc9gnI&rel=1"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/jITjBlc9gnI&rel=1" type="application/x-shockwave-flash" wmode="transparent" width="425" height="355"></embed></object>
  	</div>	<!-- end div "video" -->
  	<div id="blog">
  	  
  		<h2>Column 1</h2>
  
  <h2 class="date-header">Sunday, December 30, 2007</h2>
  
    <!-- Begin .post -->
    <div class="post"><a name="2747286302389713246"></a>
           
      <h3 class="post-title">
  	 
  	 WRS Flier January/February 2008
  	 
      </h3>
      
  
  	         <div class="post-body">
  	<div>
  
        <div style="clear: both;"></div><div class="flickr-frame">	<a href="http://www.flickr.com/photos/progressions/2148728464/" title="photo sharing"><img src="http://farm3.static.flickr.com/2105/2148728464_e3670049d4.jpg" class="flickr-photo" alt=""></a><br>	<span class="flickr-caption"><a href="http://www.flickr.com/photos/progressions/2148728464/">WRS Flier January/February 2008</a>, originally uploaded by <a href="http://www.flickr.com/people/progressions/">Isaac Priestley</a>.</span></div>				<p class="flickr-yourcomment">	Flier advertising gigs for World Racketeering Squad in January and February 2008.<br><br>We're playing the following dates:<br><br>Saturday, Jan 5th, 10pm-1am<br>Carousel Lounge<br>w/ Sofia Grey<br><br>Thursday, Jan 24th, 10pm-12am<br>Carousel Lounge<br><br>Tuesday, Feb 5th, 11pm-12am<br>Trophy's Bar &amp; Grill</p><div style="clear: both; padding-bottom: 0.25em;"></div>
  
      </div>
  
      
      </div>
  
  
      <p class="post-footer">
        <em>posted by Isaac at 
      <a class="post-footer-link" href="http://www.progressions.org/blog/2007/12/wrs-flier-januaryfebruary-2008.html" title="permanent link"> 3:27 AM </a></em>
        
  
           <a class="comment-link" href="http://www.blogger.com/comment.g?blogID=8662027&amp;postID=2747286302389713246" location.href="http://www.blogger.com/comment.g?blogID=8662027&amp;postID=2747286302389713246;"><span style="text-transform: lowercase;">0 Comments</span></a>
             </div>
  
    </div> <!-- end DIV "blog" -->

  </div> <!-- end DIV "main" -->
	<div id="sidebar">
	  <div id="links" class="module">
	    <ul>
	        <li>MySpace</li>
	        <li>YouTube</li>
	        <li>Flickr</li>
	    </ul>
	  </div>
	  <div id="upcoming_shows" class="module">
  		<h3>Upcoming Shows</h3>
  		<h4>Thursday, Jan 24</h4>
  		<ul>
  		    <li>Carousel Lounge</li>
  		    <li>10pm FREE</li>
  		    <li>w/ Sofia Grey</li>
  		</ul>
  		<h4>Tuesday, Feb 5</h4>
  		<ul>
  		    <li>Trophy's Bar &amp; Grill</li>
  		    <li>11pm FREE</li>
  		</ul>
	  </div>
	  <div id="listen" class="module">
  		<h3>Listen</h3>
  		<p>Panic</p>
  		<p>Sylvia</p>
  	  <p>Heartbreaker</p>
  	</div>
  	<div id="recent_posts" class="module">    	  
  		<h3>Recent Posts</h3>
  	</div>
	</div>
	<div id="footer">
		<p>Footer</p>
	</div>
</div>
</body>
</html>
