<% @page_title = @song.title %>

<div  id="song">
  
<h1><%=h @song.title %></h1>
<ul>
  <li><%= link_to @song.title, @song.url %></li>
  <li><%= music_player(@song.url,1,180) %></li>
</ul>
<div  id="body">
  <%= @song.body %>
</div> <!-- end DIV "body" -->

</div> <!-- end DIV "song" -->