- if @fan
  #footer
    %p= "You are receiving these emails because <strong>#{@fan.email}</strong> is subscribed to the <strong>#{@global_settings.artist_name} mailing list</strong>. If you do not want to receive these emails, <strong>you can #{link_to 'unsubscribe here', unsubscribe_url(@fan, :f => @fan.crypted_email)}</strong> or reply to this email with the word \"unsubscribe\" in the title."