<style type="text/css">
<!--
  div#comment_body {
    margin: 0 25px;
  }
-->
</style>

<p><%= mail_to(sanitize(@comment.email), sanitize(@comment.name), :host => @global_settings.url) %> has left a comment on the blog post titled "<%= link_to sanitize(@blog.title), blog_url(@blog.to_param, :host => @global_settings.url) %>":
  
<div id="comment_body">
  <%= sanitize @comment.body %>
</div> <!-- end DIV "comment_body" -->

<p>If you do not want to receive these emails, you can <%= link_to "unsubscribe here", unsubscribe_blog_url(@blog, :email => @email, :host => @global_settings.url) %>.</p>

