<% @page_title = "Shows" %>

<div  id="shows">
  
<h1>Upcoming Shows</h1>

<% if logged_in? %>
  <p><%= link_to "Create New Show", new_show_path %></p>
<% end %>

<%= will_paginate @shows %>

<% for @show in @shows %>
  <%= shows if @show.active? || admin? %>
<% end %>

<%= will_paginate @shows %>


</div> <!-- end DIV "shows" -->